body {
  margin: 0;
  padding: 0;
  font-family: Mulish;
  color: #38363d;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 100px 24px 100px;
  background-color: #f8f0fb;
}
.head {
  font-family: Lato;
  color: #f53838;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.navbar ul li {
  display: inline-block;
}
.navbar a {
  color: #38363d;
  text-decoration: none;
  margin: 0px 15px;
  transition: text-decoration 500ms ease-in-out;
}
.navbar a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.btn-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-border {
  background-color: transparent;
  border: 1px solid #f53838;
  border-radius: 50px;
  padding: 13px 45px;
  color: #f53838;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.btn-border:hover {
  cursor: pointer;
  background-color: #f53838;
  color: white;
}
.btn-text {
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  transition: color 250ms ease-in-out;
}
.btn-text:hover {
  color: #f53838;
  cursor: pointer;
}

/* Title */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 70px 0px;
  background-color: #f8f0fb;
}
.title-box {
  width: 700px;
  text-align: center;
}
.title-head {
  font-size: 44px;
  font-weight: 700;
}
.title-content {
  font-size: 16px;
  font-weight: 400;
  margin: 26px 0px;
}
.btn-title {
  border: none;
  background-color: #f53838;
  color: white;
  font-weight: 700;
  padding: 12px 48px;
  border-radius: 10px;
  transition: background-color 250ms ease-in-out;
}
.btn-title:hover {
  cursor: pointer;
  background-color: #d62222;
}

/* Blog */
.blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
.blog-box {
  width: 900px;
  text-align: center;
}
.blog-section h3 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.1px;
}
.blog-section p {
  font-weight: 400;
  font-size: 16px;
  color: #737b7d;
}
.blog-section a {
  text-decoration: none;
  color: #3c64b1;
}
.blog-section a:hover {
  text-decoration: underline;
}
.blog-content-box {
  display: flex;
  flex-direction: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 26px;
}
.blog-card {
  width: 350px;
  margin: 15px 10px;
}
.card-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 168px;
  background-color: #d2ebf7;
  border-radius: 16px 16px 0px 0px;
}
.card-head img {
  height: 120px;
}
.card-body {
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 0px 0px 16px 16px;
}
.card-body h5 {
  font-size: 20px;
  font-weight: 600;
  color: #081f32;
  margin: 0;
}
.card-body p {
  font-weight: 400;
  font-size: 13px;
  margin-top: 24pxs;
  color: #374a59;
  text-align: justify;
}

/* blog page */
.blog-page {
  background-color: #f8f0fb;
  padding-top: 0px;
  padding-bottom: 150px;
}
.content-box-margin {
  margin-top: -120px;
}
.container-card {
  padding: 0px 60px;
}

/* contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 60px;
}
.title-contact {
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 40px;
}
.title-contact h3 {
  font-weight: 700;
  font-size: 32px;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact-item {
  max-width: 300px;
  padding: 20px;
}
.contact-item h6 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.contact-item p {
  margin-top: 8px;
  font-size: 14px;
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f8f0fb;
  padding: 60px 0px;
}
.footer-item {
  display: flex;
  flex-direction: column;
}
.footer-item h6 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.footer-item a {
  margin-top: 5px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}
